<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Beerich</title>
  </head> 
  
  <body >

   {% extends "Style.html" %}
   {% block content %}
    <h1 align="center"> Beerich </h1>
    <p> This is what I spend on...
    </p>
    <p>
      This month spending: $5000
    </p>
    <p>
      Alert level:
    </p>
    <div class="navbar">
      <a href="/home"><i class="fa fa-home"></i>Home</a>
      <a href="/Transfer">Transfer</a>
      <a href="/Account">Account</a>
    </div> 

    {% endblock %}
  </body>
</html>
