{% extends "Style.html" %}
{% block content %}
<style>
img 
{
	position:absolute;
	width:100%;
	left:0;
	max-width: 100%;
	height: 30%;
	border-radius: 50%;
  }
</style>

<img src="static\beerichlogo.png" alt="Beerich">

<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div> 
    <div class="login-form">
        <div class="control-group">
			<input type="text" class="login-field" value="" placeholder="username" name="username">
			<label class="login-field-icon fui-user" for="login-name"></label>
		</div>
         <div class="control-group">
				    <input type="password" class="login-field" value="" placeholder="password" name="password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
		</div>
        <p> 
			<div class ="Loginbutton">
			<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

			</div>
		</p>
		<div class="error">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
		  <div class="{{ category }}">{{ message }}</div>
		{% endfor %}
	  {% endwith %}
	</div>
<p> Do not have an account? </p>
<div class="Registrationbutton">
<a href="/Registration"><input type="button" value="Registration"></a>
</div>
                </div>
        </div>
	 </div>	 	 
</form>



{% endblock %}
