<!DOCTYPE html>
<html>
<body>
    {% extends "Style.html" %}
    {% block content %}

<h>Knowing You</h>

<form action="/login" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" class="login-field" value=""  name="firstname">
  
  <label for="lname">Last name:</label><br>
  <input type="text" class="login-field" value="" name="lastname">

  <label for="username">Username:</label><br>
  <input type="text" class="login-field" value=""  name="username">
  
  <label for="password">Password</label><br>
  <input type="numbers" class="login-field" value=""name="password">

  <label for="confirmpassword">Confirm password</label><br>
  <input type="numbers" class="login-field" value=""name="password">

  <input type="submit" value="Submit">
 
</form> 
<div class="cancelbutton">
<a href="/"><input type="button" value="Cancel"></a>
</div>
{% endblock %}
</body>
</html>