<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "Style.html" %}
    {% block content %}

    <h1> Transfering your money</h1>
    <p> 
    </p>
    <div>
        <h2>Buy for $5.00</h2>
        <form action="/charge" method="post">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="500"
            data-locale="auto">
          </script>
        </form>
      </div>
      <div class="navbar">
        <a href="/home">Home</a>
        <a href="/Transfer">Transfer</a>
        <a href="/Account">Account</a>
      </div>
      {% endblock %}
  </body>
</html>