<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log</title>
  </head>
  <body>
    {% extends "Style.html" %}
    {% block content %}
    <h1>Data</h1>
   


       <div class="navbar">
        <a href="/home"><i class="fa fa-home"></i>Home</a>
        <a href="/Transfer"><i class="fa fa-credit-card"></i>Transfer</a>
        <a href="/log"><i class="fa fa-address-book"></i>Log</a>
        <a href="/plan"><i class='fas fa-edit'></i>Plan</a>
        <a href="/Account"><i class='fas fa-user-cog'></i>Account</a>
      </div> 
    {% endblock %}
  </body>
</html>