<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>plan</title>
  </head>
  <body>
    {% extends "Style.html" %}
    {% block content %}
	<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <h1>Set spending limit </h1>

     <div spendinglimit>
      <form method="POST">
        <p>
        <label for="spendinglimit">Set spending limit</label><br>
        <input name="spendinglimit" inputmode="numeric" type="number" id="inputAmount" data-role="keypad"
        data-keys="0,1,2,3,4,5,6,7,8,9"  value="{{ request.form.spendinglimit }}">
        </p>
      
        <div class="Set">
            <input type="submit" value="Set">
        </div>
    </div>

	
	
	
	
<p>
  Your total spending is monitored based in this limit.
</p>


       <div class="navbar">
        <a href="/home"><i class="fa fa-home"></i>Home</a>
        <a href="/Transfer"><i class="fa fa-credit-card"></i>Pay</a>
        <a href="/log"><i class="fa fa-address-book"></i>Log</a>
        <a href="/plan"><i class='fas fa-edit'></i>Plan</a>
        <a href="/Account"><i class='fas fa-user-cog'></i>Account</a>
      </div> 
    {% endblock %}
  </body>
</html>